# Ignore everything in this directory
*
# Except these files
!.gitignore

!envs
!notebooks
!report
!rules
!scripts
!Snakefile

# TODO NOTE:
# add final version of processed/aggregated data, figures, tables for replication
