# Ignore everything in this directory
*
# Except these files
!.gitignore

!naturalearth_lowres/
!Bridge_table_from_GeoNames.parquet
!geonames.csv
!geonames_region_names_2_recode.csv
!ne_10m_admin_1_states_provinces.geojson
